.upload-area {
    padding: 25px 20px;
    background-color: $black;
    outline: 2px dashed $dark;
    outline-offset: -10px;
    color: $secondary;

    &.showarea {
        background-color: $secondary;
        outline-color: $dark;
        color: $dark;
    }

    .box_input {
        text-align: center;

        .box_icon {
            width: 100%;
            height: 50px;
            display: block;
            margin-bottom: 10px;
            stroke-width: 1;
        }

        .box_file {
            width: 0.1px;
            height: 0.1px;
            opacity: 0;
            overflow: hidden;
            position: absolute;
            z-index: -1;
        }

        label {
            font-size: 23px;
            max-width: 80%;
            text-overflow: ellipsis;
            white-space: nowrap;
            cursor: pointer;
            display: inline-block;
            overflow: hidden;

            .action {
                color: $primary;
            }

            .box_dragndrop {
                display: inline;
            }
        }
    }
}
