.audio-player {
    .media-info {
        .album-image > * {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 48px;
            height: 48px;
        }

        .artists {
            font-size: 0.8rem;
        }
    }

    .media-control-container {

        @include media-breakpoint-up(md) {
            max-width: 300px;
        }

        @include media-breakpoint-up(lg) {
            max-width: 500px;
        }

        @include media-breakpoint-down(md) {
            flex-basis: 100% !important;
            margin-bottom: map-get($spacers, 2);
        }

        & > div {
            width: 100%;
        }

        .upvote {
            cursor: pointer;
            width: 1.2rem;
            height: 1.2rem;
        }

        .downvote {
            cursor: pointer;
            width: 1.2rem;
            height: 1.2rem;
        }

        .progress {
            height: 0.25rem;
        }
    }

    .extra-control {

        a {
            color: inherit;
        }

        svg {
            width: 1.3rem;
            height: 1.3rem;
        }

        .video-control {
            cursor: pointer;

            &.active {
                color: $primary;
            }
        }

        .volume-control {
            cursor: pointer;

            .dropdown-menu {
                min-width: 22px;
                max-width: 22px;
                height: 140px;

                .vue-slider {
                    height: 100% !important;
                }
            }
        }
    }
}
