//Include the vue3-perfect-scrollbar module styling
@import "~vue3-perfect-scrollbar/dist/vue3-perfect-scrollbar.css";
@import "~vue-slider-component/theme/default.css";

//
// Our theme configuration
//
@import "theme";

//
// Add bootstrap
//
@import "~bootstrap";

//
// Our styling
//
@import "custom-theme/animations";
@import "custom-theme/helpers";
@import "custom-theme/style";

// Include styling overrides
@import "overrides/bootstrap";
@import "overrides/vue-perfect-scrollbar";

// Shoutz0r App-loader component styling
@import "components/app-loader";
