
#navbar-top {
    width: 100%;
    z-index: 999;
    background: $body-bg;
    transition: box-shadow 0.2s ease-in-out;
    @media (min-width: map-get($grid-breakpoints, md)) {
        position: fixed;
        top: 0;
        height: $navbar-height;
    }

    .container-fluid {
        @media (min-width: map-get($grid-breakpoints, md)) {
            padding-left: 0;
        }

        .navbar-brand {
            -webkit-filter: none;
            filter: none;
            @media (min-width: map-get($grid-breakpoints, md)) {
                display: flex;
                justify-content: center;
                width: $sidebar-width;
                height: $navbar-height;
                margin: 0;
                padding: 0;
                background: $light-mix;
            }

            img {
                -webkit-filter: none;
                filter: none;
            }
        }
    }

    &.showShadow {
        -webkit-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.2);
        -moz-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.2);
        box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.2);
    }
}

#navbar-left {
    background: $light-mix;
    -webkit-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.1);

    .container {
        display: flex;
        margin-left: initial;

        @media (min-width: map-get($grid-breakpoints, lg)) {
            height: 100%;
            margin-left: auto;
        }
    }

    @media (min-width: map-get($grid-breakpoints, md)) {
        top: $navbar-height;

        .navbar-nav {
            flex-grow: 0;
        }

        .align-bottom {
            margin-top: auto;
        }
    }

    .nav-link-icon {
        width: 2.25rem;
        height: initial;
        font-size: 1.3rem;
        margin: 5px 0;
    }

    .navbar-text {
        color: #FFF;
        font-weight: bold;
    }

    @media (max-width: map-get($grid-breakpoints, lg)) {
        #navbar-left-menu {
            padding-top: $navbar-height;
        }
    }
}

.theme-dark {
    #navbar-top {
        background: $dark-mode-darken;

        .navbar-brand {
            background: $dark;

            img {
                -webkit-filter: brightness(0) invert(1);
                filter: brightness(0) invert(1);
            }
        }
    }

    #navbar-left {
        background: $dark;
    }
}
