#main-content {
    @media (min-width: 48rem) {
        padding-left: $sidebar-width;
        padding-top: $navbar-height;
    }

    max-height: 100%;
    overflow: hidden;
}

.page {
    padding-bottom: $navbar-height;
    min-height: 1px;
}

body {
    overflow: hidden;
}
