.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

    .container {
        flex: none;
        height: initial;

        .logo {
            max-width: 25%;
            max-height: 25%;
            fill: $white;
        }
    }
}
