.nowplaying .item-content {
    .artists {
        font-size: 1rem;
        margin-bottom: 0.2rem;
    }

    .requested-by {
        border-left: 1px solid $white;
        padding-left: 5px;

        .text-muted {
            color: $secondary !important;
        }
    }

    .downvote {
        margin: 0 10px;
    }
}
