.antialiased {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.text-prewrap {
    white-space: pre-wrap;
}

.flex-basis-0 {
    flex-basis: 0;
}

.filter-invert {
    -webkit-filter: brightness(0) invert(1);
    filter: brightness(0) invert(1);
}

/*
 * This has been copied from the Tabler.io CSS Framework
 */
.avatar {
    position: relative;
    width: 2.5rem;
    height: 2.5rem;
    font-size: calc(2.5rem / 2.8571429);
    font-weight: 500;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #656d77;
    text-align: center;
    text-transform: uppercase;
    vertical-align: bottom;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: #f0f2f6 no-repeat center/cover;
    border-radius: 4px;

    &.mediatype {
        font-size: 24px !important;
    }
}

.borderless {
    border: 0 !important;
}
