//Disable selecting text
* {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

input:disabled, textarea:disabled, button:disabled {
    cursor: not-allowed;
}

a {
    color: $white;
    text-decoration: none;

    &:hover {
        color: darken($white, 15%);
        text-decoration: underline;
    }
}

.nav-link {
    color: $secondary;

    &.router-link-exact-active {
        color: $primary;
    }

    &:hover {
        text-decoration: none !important;
    }
}

.card {
    border: 1px solid darken($body-bg, 5%);

    .card-body {
        background: lighten($body-bg, 5%);
    }
}

.category-header {
    margin: 1rem 0 0.5rem;
    color: $secondary;
    font-size: 2rem;
}

/*
 * Main Theme Structure
 */
body {
    overflow: hidden !important;
    height: 100vh;
}

#shoutzor {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: flex-start;
    align-items: stretch;
    min-height: 100%;
    background: url('~@static/images/main-content-noise-bg.png');
}

#header {
    order: 1;
    flex: 0 1 auto;

    .navbar-brand-image {
        width: 242px;
        height: 54px;
        fill: $white;
    }
}

#wrapper {
    order: 2;
    flex: 1 1 auto;
}

#media-player {
    background: $black;
    order: 3;
    flex: 0 1 auto;
}
