//Disable selecting text
* {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

.antialiased {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.text-prewrap {
    white-space: pre-wrap;
}

a {
    color: $white;
    text-decoration: none;

    &:hover {
        color: darken($white, 15%);
        text-decoration: underline;
    }
}

.nav-link {
    color: $secondary;

    &.router-link-exact-active {
        color: $primary;
    }

    &:hover {
        text-decoration: none !important;
    }
}

.flex-basis-0 {
    flex-basis: 0;
}

/*
 * Fixes warning when opening dropdown:
 * Popper: CSS "margin" styles cannot be used to apply padding between the popper and its reference element or boundary.
 * To replicate margin, use the `offset` modifier, as well as the `padding` option in the `preventOverflow` and
 * `flip` modifiers.
 */
.dropdown-menu {
    margin: 0 !important;
}

/* Disable the button outline when it's pressed */
.btn-primary:focus, .btn-primary.focus, .btn:focus, .btn.focus {
    box-shadow: none !important;
    outline: none !important;
}

.table {
    border-color: transparent;
    margin-bottom: 0;
}

.table-responsive {
    margin-bottom: 0 !important;
}

.card {
    border: 1px solid darken($body-bg, 5%);

    .card-body {
        background: lighten($body-bg, 5%);
    }
}

.filter-invert {
    -webkit-filter: brightness(0) invert(1);
    filter: brightness(0) invert(1);
}

/*
 * This has been copied from the Tabler.io CSS Framework
 */
.avatar {
    position: relative;
    width: 2.5rem;
    height: 2.5rem;
    font-size: calc(2.5rem / 2.8571429);
    font-weight: 500;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #656d77;
    text-align: center;
    text-transform: uppercase;
    vertical-align: bottom;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: #f0f2f6 no-repeat center/cover;
    border-radius: 4px;
}

/*
 * Enables objects with this class to spin around
 */
.rotate {
    animation: spin 4s infinite linear;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

.category-header {
    margin: 1rem 0 0.5rem;
    color: $secondary;
    font-size: 2rem;
}

/*
 * Main Theme Structure
 */
body {
    overflow: hidden !important;
    height: 100vh;
}

#shoutzor {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: flex-start;
    align-items: stretch;
    min-height: 100%;
    background: url('~@static/images/main-content-noise-bg.png');
}

#header {
    order: 1;
    flex: 0 1 auto;
}

#wrapper {
    order: 2;
    flex: 1 1 auto;
}

#media-player {
    background: $black;
    order: 3;
    flex: 0 1 auto;
}
