// Shoutz0r Color pallete
// Variables available at: https://getbootstrap.com/docs/5.2/customize/color/
$yellow: #CFCF40;
$green: #45AB35;
$orange: #fd7e14;
$red: #dc3545;
$pink: #d63384;
$teal: #20c997;
$cyan: #0dcaf0;
$blue: #0d6efd;
$indigo: #6610f2;
$purple: #6f42c1;
$azure: #45aaf2;
$lime: #7bd235;
$gray: #adb5bd;
$white: #efeff5;
//$black: #212121;
$black: #212121;

$primary: #79dfc1;
$secondary: #899594;
$dark: #272727;
$light: $white;

$success: $green;
$danger: $red;
$info: $azure;
$warning: $orange;

//Media file colors
$audio-default: #467fcf;
$brand-color-spotify: #1DB954;
$brand-color-soundcloud: #FF7700;
$brand-color-youtube: #FF0000;

$theme-colors: (
    "audio": $audio-default,
    "video": $orange,
    "brand-spotify": $brand-color-spotify,
    "brand-soundcloud": $brand-color-soundcloud,
    "brand-youtube": $brand-color-youtube,
    "blue": $blue,
    "indigo": $indigo,
    "purple": $purple,
    "pink": $pink,
    "red": $red,
    "orange": $orange,
    "yellow": $yellow,
    "green": $green,
    "teal": $teal,
    "cyan": $cyan,
    "white": $white,
    "gray": $gray,
    "azure": $azure,
    "lime": $lime,
    "primary": $primary,
    "secondary": $secondary,
    "success": $success,
    "info": $info,
    "warning": $warning,
    "danger": $danger,
    "light": $light,
    "dark": $dark
);

// Body
$body-bg: $dark;
$body-color: $light;

$dropdown-dark-bg: $black;
$dropdown-dark-color: $secondary;
$dropdown-dark-link-hover-bg: $dark;
$dropdown-dark-link-hover-color: $secondary;
$dropdown-dark-link-active-bg: $dropdown-dark-link-hover-bg;
$dropdown-dark-link-active-color: $dropdown-dark-link-hover-color;

$list-group-color: $secondary;
$list-group-bg: $black;

$modal-content-bg: $black;
$modal-content-color: $white;
$modal-content-border-color: $dark;
$modal-backdrop-opacity: 0.75;
$modal-header-border-color: $modal-content-border-color;
$modal-footer-border-color: $modal-content-border-color;

/*
 * Shoutz0r variables
 */

//Element sizes
$navbar-height: 3.5rem;
$sidebar-width: 15rem;

$header-search-width: 15rem;


/*
 * options from: https://getbootstrap.com/docs/5.1/customize/options/
 */
$enable-rounded: true;
$enable-negative-margins: false; // Disabled by default, might be useful in the future: https://getbootstrap.com/docs/5.1/utilities/spacing/#negative-margin

// Typography
$font-family-sans-serif: "Ubuntu", sans-serif;
$font-size-base: 0.9rem;

