/*
 * options from: https://getbootstrap.com/docs/5.1/customize/options/
 */
$enable-rounded: true;
$enable-negative-margins: false; // Disabled by default, might be useful in the future: https://getbootstrap.com/docs/5.1/utilities/spacing/#negative-margin

// Typography
$font-family-sans-serif: "Ubuntu", sans-serif;
$font-size-base: 0.9rem;

/*
 * Colors: https://getbootstrap.com/docs/5.1/customize/color/
 */
$blue: #467fcf;
$indigo: #6574cd;
$purple: #a55eea;
$pink: #f66d9b;
$red: #cd201f;
$orange: #fd9644;
$yellow: #f1c40f;
$green: #5eba00;
$teal: #2bcbba;
$cyan: #17a2b8;
$white: #fff;
$gray-light: #c8c8c8;
$gray: #868e96;
$gray-dark: #343a40;
$azure: #45aaf2;
$lime: #7bd235;
$primary: #467fcf;
$secondary: #868e96;
$success: #5eba00;
$info: #45aaf2;
$warning: #f1c40f;
$danger: #cd201f;
$light: #f8f9fa;
$dark: #343a40;

$colors: (
    "blue": $blue,
    "indigo": $indigo,
    "purple": $purple,
    "pink": $pink,
    "red": $red,
    "orange": $orange,
    "yellow": $yellow,
    "green": $green,
    "teal": $teal,
    "cyan": $cyan,
    "white": $white,
    "gray": $gray,
    "gray-dark": $gray-dark,
    "azure": $azure,
    "lime": $lime,
    "primary": $primary,
    "secondary": $secondary,
    "success": $success,
    "info": $info,
    "warning": $warning,
    "danger": $danger,
    "light": $light,
    "dark": $dark
);

// Body
$body-bg: $dark;
$body-color: $light;

/*
 * Shoutz0r variables
 */

//Brand colors
$brand-color-none: #467fcf;
$brand-color-spotify: #1DB954;
$brand-color-soundcloud: #FF7700;
$brand-color-youtube: #FF0000;

//Element sizes
$navbar-height: 3.5rem;
$sidebar-width: 15rem;
$player-height: 4.5rem;

$header-search-width: 15rem;

