// Shoutz0r Color pallete
// Variables available at: https://getbootstrap.com/docs/5.2/customize/color/
$yellow: #CFCF40;
$green: #45AB35;
$orange: #CF7D40;
$red: #CF4040;
$pink: #A63374;
$teal: #2bcbba;
$cyan: #00E4E4;
$blue: #4C6FF0;
$indigo: #4C378F;
$purple: #724BF0;
$azure: #45aaf2;
$lime: #7bd235;
$gray: #a2a4a9;
$gray-dark: #414141;
$white: #efeff5;
$black: #212121;

$primary: $blue;
$secondary: #899594;
$dark: $black;
$light: $white;

$success: $green;
$danger: $red;
$info: $azure;
$warning: $orange;

$theme-colors: (
    "blue": $blue,
    "indigo": $indigo,
    "purple": $purple,
    "pink": $pink,
    "red": $red,
    "orange": $orange,
    "yellow": $yellow,
    "green": $green,
    "teal": $teal,
    "cyan": $cyan,
    "white": $white,
    "gray": $gray,
    "gray-dark": $gray-dark,
    "azure": $azure,
    "lime": $lime,
    "primary": $primary,
    "secondary": $secondary,
    "success": $success,
    "info": $info,
    "warning": $warning,
    "danger": $danger,
    "light": $light,
    "dark": $dark
);

// Body
$body-bg: $dark;
$body-color: $light;

/*
 * Shoutz0r variables
 */

//Brand colors
$brand-color-none: #467fcf;
$brand-color-spotify: #1DB954;
$brand-color-soundcloud: #FF7700;
$brand-color-youtube: #FF0000;

//Element sizes
$navbar-height: 3.5rem;
$sidebar-width: 15rem;

$header-search-width: 15rem;


/*
 * options from: https://getbootstrap.com/docs/5.1/customize/options/
 */
$enable-rounded: true;
$enable-negative-margins: false; // Disabled by default, might be useful in the future: https://getbootstrap.com/docs/5.1/utilities/spacing/#negative-margin

// Typography
$font-family-sans-serif: "Ubuntu", sans-serif;
$font-size-base: 0.9rem;

