* {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                            supported by Chrome, Edge, Opera and Firefox */
}

body {
  overflow: hidden !important;
}

/* Disable the button outline when it's pressed */
.btn-primary:focus, .btn-primary.focus, .btn:focus, .btn.focus {
  box-shadow: none !important;
  outline: none !important;
}

.table-responsive {
  margin-bottom: 0 !important;
}
